@page
@using System.Security.Claims
@model RentBookApp.Pages.AddRentals.CreateModel

@{
    ViewData["Title"] = "Create";
    var dateNow = DateTime.Now;
    string renterId = User.FindFirstValue(ClaimTypes.NameIdentifier); // User Logado e que aluga o livro

}

<h1>Create</h1>

<h4>Rental</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form method="post">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>

            <input type="hidden" asp-for="Rental.RentedAt" value="@dateNow" />
            <input type="hidden" asp-for="Rental.RenterId" value="@renterId" />

            <div class="form-group">
                <label asp-for="Rental.BookId" class="control-label"> Select a Book Title </label>
                <select asp-for="Rental.BookId" class="form-control" asp-items="ViewBag.BookId"></select>
            </div>

            <div class="form-group">
                <input type="submit" value="Create" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-page="Index">Back to List</a>
</div>

@section Scripts {
    @{
        await Html.RenderPartialAsync("_ValidationScriptsPartial");
    }
}
