@page
@using System.Security.Claims
@model RentBookApp.Pages.AddRentals.CreateModel

        @{
        ViewData["Title"] = "Create";
        DateTime todayDate = DateTime.Now;
        string _userId = User.FindFirstValue(ClaimTypes.NameIdentifier);
        }
        
        <h1>Create</h1>
        
    <h4>Rental</h4>
    <hr />
    <div class="row">
    <div class="col-md-4">
    <form method="post">
    <div asp-validation-summary="ModelOnly" class="text-danger"></div>
@*          <div class="form-group">
                <label asp-for="Rental.RentedAt" class="control-label"></label>
                <input asp-for="Rental.RentedAt" class="form-control" />
                <span asp-validation-for="Rental.RentedAt" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Rental.ReturnedAt" class="control-label"></label>
                <input asp-for="Rental.ReturnedAt" class="form-control" />
                <span asp-validation-for="Rental.ReturnedAt" class="text-danger"></span>
            </div> *@
            <div class="form-group">
                <label asp-for="Rental.BookId" class="control-label"> Book Title </label>
                <select asp-for="Rental.BookId" class ="form-control" asp-items="ViewBag.BookId"></select>
            </div>
            <div class="form-group">
                <label asp-for="Rental.UserId" class="control-label"> Choose Book Owner </label>
                <select asp-for="Rental.UserId" class ="form-control" asp-items="ViewBag.UserId"></select>
            </div>
            <div class="form-group">
                <input type="submit" value="Create" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-page="Index">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
