@page
@using System.Security.Claims
@model RentBookApp.Pages.AddRentals.EditModel

@{
    ViewData["Title"] = "Edit";
    var dateToday = DateTime.Now;
    //var userId = User.FindFirstValue(ClaimTypes.NameIdentifier);
}

<h1>Edit</h1>

<h4>Rental</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form method="post">

            <input type="hidden" asp-for="Rental.Id" />
            <input type="hidden" asp-for="Rental.RentedAt" />
            <input type="hidden" asp-for="Rental.ReturnedAt" value="@dateToday" /> @* ATUALIZADO COM DATA DE ENTREGA *@
            <input type="hidden" asp-for="Rental.BookId" />
            <input type="hidden" asp-for="Rental.UserId" />
            <input type="hidden" asp-for="Rental.RenterId" />

            <div class="form-group">
                <input type="submit" value="Confirm" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-page="./Index">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
